table, thead, tbody, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

thead{
    background-color: red;
}

thead ~ tbody trgit opu{
    background-color: green;
}

tbody > tr{
    background-color: blue;
}

tbody tr:nth-child(2n){
    background-color: red;
}

tbody tr:hover{
    background-color: green;
}