tbody tr td:last-child{
    background-color: darkorchid;
}

tbody tr td:nth-last-child(3){
    background-color: lime;
}

tr:has(td[rowspan]):hover td{
    color: lightgoldenrodyellow;
    font-weight: bold;
    background-color: fuchsia;
}

tr:has(td[rowspan]):has(+tr:hover) td{
    color: teal;
    font-weight: bold;
    background-color: black;
}

tr:has(td[rowspan]):hover+tr td{
    color: darkorchid;
    font-weight: bold;
    background-color: aqua;
}

tbody tr:hover td{
    color: greenyellow;
    font-weight: bold;
    background-color: slateblue;
}

tr:has(td[rowspan])+tr:hover td{
    color: hotpink;
    font-weight: bold;
    background-color: honeydew;
}